<td><%= name %></td>
<td><%= state_abbrev %></td>
<td><%= latitude %></td>
<td><%= longitude %></td>
<td><%= elevation %></td>
<td><%= phone %></td>
<td><%= electric_sites %></td>
<td><%= showers %></td>
<td><%= outhouse %></td>
<td><%= dump %></td>
<td><%= url %></td>
<td><%= plumbing %></td>
<td><%= water %></td>
<td><%= tent_allowed %></td>
<td><%= rv_allowed %></td>
<td><%= walkin %></td>
<td><%= hikein %></td>
<td><%= boatin %></td>
<td><%= rustic %></td>
<td><%= rv %></td>
<td><%= backcountry %></td>
<td><%= horse %></td>
<td><%= likely_toilets %></td>
<td><%= no_toilets %></td>
<td><%= electricity %></td>
<td><%= city_name %></td>
<td><%= sewer_hookup %></td>
<td><%= fifty_amp %></td>
<td><%= thirty_amp %></td>
<td><%= twenty_amp %></td>
<td><%= pull_thrus %></td>
<td><%= wifi %></td>
<td><%= laundry %></td>
<td><%= beach %></td>
<td><%= on_lake %></td>
<td><%= on_river %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>