<h1 class="heading col-md-12 text-muted"> Amenities </h1>
<form class="pad-top-md">
  <div class="col-md-3">
    <label>Basics</label>
  	<div class="checkbox"><label><input id="restroom" name="restroom"  value="<%=restroom%>" type="checkbox"> Restroom </label></div>
    <div class="checkbox"><label><input id="showers" name="showers" value="<%=showers%>" type="checkbox"> Showers </label></div>
    <div class="checkbox"><label><input id="beach" name="beach" value="<%=beach%>" type="checkbox"> Sandy beach </label></div>
    <div class="checkbox"><label><input id="on_lake" name="on_lake" value="<%=on_lake%>" type="checkbox"> On lake or ocean </label></div>
    <div class="checkbox"><label><input id="on_river" name="on_river" value="<%=on_river%>" type="checkbox"> On river </label></div>
  </div>
  <div class="col-md-3">
    <label>RV sites</label>
    <div class="checkbox"><label><input id="electricity" name="electricity" value="<%=electricity%>" type="checkbox"> Electricity </label></div>
    <div class="checkbox"><label><input id="twenty_amp" name="twenty_amp" value="<%=twenty_amp%>" type="checkbox"> 20 Amp </label></div>
    <div class="checkbox"><label><input id="thirty_amp" name="thirty_amp" value="<%=thirty_amp%>" type="checkbox"> 30 Amp </label></div>
    <div class="checkbox"><label><input id="fifty_amp" name="fifty_amp" value="<%=fifty_amp%>" type="checkbox"> 50 Amp</label></div>
    <div class="checkbox"><label><input id="dump" name="dump" value="<%=dump%>" type="checkbox"> Dump station</label></div>
    <div class="checkbox"><label><input id="sewer_hookup" name="sewer_hookup" value="<%=sewer_hookup%>" type="checkbox"> Sewer hookup</label></div>
    <div class="checkbox"><label><input id="water_bookup" name="water_bookup" value="<%=water_hookup%>" type="checkbox"> Water hookup</label></div>
    <div class="checkbox"><label><input id="pull_thrus" name="pull_thrus" value="<%=pull_thrus%>" type="checkbox"> Pull-thru sites </label></div>
  </div>
  <div class="col-md-3">
    <label>Luxuries</label>
    <div class="checkbox"><label><input id="laundry" name="laundry" value="<%=laundry%>" type="checkbox"> Laundry </label></div>
    <div class="checkbox"><label><input id="wifi" name="wifi" value="<%=wifi%>" type="checkbox"> Wifi </label></div>
    <div class="checkbox"><label><input id="cable" name="cable" value="<%=cable%>" type="checkbox"> Cable </label></div>
    <div class="checkbox"><label><input id="swimming_pool" name="swimming_pool" value="<%=swimming_pool%>" type="checkbox"> Swimming pool </label></div>
  </div>
</form>